html, body, ul, ul, dl, dl dd, div, table { padding:0px; margin:0px; }
/*html, body { overflow:hidden; }*/
#CreateRoom { margin:0 auto; }
#CreateRoom .Clear { clear:both; }
/* color 설명 부분 */
#CreateRoom .StatusColor { border:1px solid #ccc; padding:5px; }
#CreateRoom .StatusColor ul { float:right; }
#CreateRoom .StatusColor ul li { float:left; list-style:none; font-size:12px; margin-right:10px; }
#CreateRoom .StatusColor ul li:last-child { margin-right:0px; }
#CreateRoom .StatusColor .ColorBox { display:inline-block; width:10px; height:10px; border:1px solid #ccc; vertical-align:middle; }
#CreateRoom .StatusColor .ColorBox.Allow { background-color:#002bff; border-color:#002bff; }
#CreateRoom .StatusColor .ColorBox.Reservation { background-color:#ef6e6e; border-color:#ef6e6e; }
#CreateRoom .StatusColor .ColorBox.Empty { background-color:#888383; border-color:#888383; }
#CreateRoom .StatusColor .ColorBox.Impossible { background-color:#ff3939; border-color:#ff3939; }
/* button, 좌석 카운트 */
#CreateRoom .Options { margin-top:15px; }
#CreateRoom .Options dl dt { float:left; }
#CreateRoom .Options dl dd { float:right; margin-left:15px; }
#CreateRoom .Options dl dd:first-child { margin-left:0px; }
#CreateRoom .Options dl dd ul { padding:0px; margin:0px; margin-top:9px; }
#CreateRoom .Options dl dd ul li { float:left; list-style:none; font-size:12px; }
#CreateRoom .Options dl dd ul li.Line { margin:0px 5px; }
#CreateRoom .Options dl dd ul li.DisplayHide { display:none; }
#CreateRoom .Options button { padding:6px 12px; font-size:14px; font-weight:normal; text-align:center; cursor:pointer; border-radius:4px; color:#000; /*border:1px*/ /*solid #000;*/ }
/*#CreateRoom .Options .entrance_set {background-color: #e0d187}
#CreateRoom .Options .passage_set {background-color: #bfbaba}
#CreateRoom .Options .board_set {background-color: #a9cf70}
#CreateRoom .Options .monitor_set {background-color: #8cb1d1}
#CreateRoom .Options .impossible_set {background-color: #515457; color:#ffffff}
#CreateRoom .Options .empty_set {background-color: #FFFFFF}*/
/*#CreateRoom .Options button:hover,*/
/*#CreateRoom .Options button:focus,*/
/*#CreateRoom .Options button:active { background-color:#c9302c; border:1px solid #c9302c; }*/
/*#CreateRoom .Options button.On { background-color:#4eb142; border:1px solid #4eb142; }*/
#CreateRoom .Options { }
/*  */
#CreateRoom .Room { padding:10px; border:1px solid #000; margin-top:15px; }
#CreateRoom .Room .Screen { }
#CreateRoom .Room .Screen ul { padding:0px; margin:0px; }
#CreateRoom .Room .Screen ul li { float:left; width:300px; padding:5px 0px; list-style:none; border:1px solid #ccc; text-align:center; background-color:#eaeaea; margin-left:50px; }
#CreateRoom .Room .Screen ul li:first-child { margin:0px; }
#CreateRoom .Room {}
#CreateRoom .Seat { }
#CreateRoom .Seat table { float:left; margin-left:20px; }
#CreateRoom .Seat table:first-child { margin-left:0px; }
#CreateRoom .Seat table tbody tr td { border:1px solid #ccc; padding:10px; border-top:0px; }
#CreateRoom .Seat table tbody tr:first-child td { border-top:1px solid #ccc; }
#CreateRoom .Seat dl {}
#CreateRoom .Seat dl dd { float:left; width:80px; border:1px solid #ccc; margin-left:15px; text-align:center; cursor:pointer; }
#CreateRoom .Seat dl dd:first-child { margin:0px; }
#CreateRoom .Seat dl dd.No { background-color:#ef6e6e; }
#CreateRoom .Seat dl dd.Empty { background-color:#888383; }
#CreateRoom .Seat dl dd.Impossible { background-color:#ff3939; color:#fff; }
#CreateRoom .Seat dl dd.On { border:1px solid #002bff; color:#002bff; }
#CreateRoom .Seat {}
#CreateRoom .Seat {}
#CreateRoom {}
#CreateRoom {}

#selectable .ui-selecting { border:1px solid #ff6910 !important; color:#ff6910 !important; }
#selectable .ui-selected { border:1px solid #002bff  !important; color:#002bff ; }